{
    "useSigningKey": "<<TEMPLATE>>",
    "claims": {
      "name": "<<TEMPLATE>>",
      "account": {
        "signingKeys": [
          "<<TEMPLATE>>"
        ],
        "limits": {
          "subs": -1,
          "conn": -1,
          "leafNodeConn": -1,
          "data": -1,
          "payload": -1,
          "wildcardExports": true,
          "imports": -1,
          "exports": -1,
          "memStorage": -1,
          "diskStorage": -1
        }
      }
    }
  }