{
  "useSigningKey": "<<TEMPLATE>>",
  "claims": {
    "name": "<<TEMPLATE>>",
    "user": {
      "data": -1,
      "payload": -1,
      "subs": -1,
      "locale": "",
      "pub": {
        "allow": null,
        "deny": null
      },
      "resp": null,
      "sub": {
        "allow": null,
        "deny": null
      }
    }
  }
}
